// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #a7a9be;
}

.nav-link{
    &:hover{
        background-color: grey !important;
        color: white !important;
        border-radius: 5px ;
    }
}

.active{
    background-color: grey !important;
    color: white !important;
    border-radius: 5px ;
}